@inject IMediator Mediator

@if (_dropdowns is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@_productBase" OnValidSubmit="SubmitForm">
        <div class="row mb-3">
            <div class="col-auto">
                <div class="card" style="width: 268px;">
                    <img class="card-img" src="@_imagePath">
                </div>
            </div>

            <div class="col">
                <FormSection>
                    <FormFieldSet Width="col-2">
                        <label class="font-weight-bold text-secondary">Kood</label>
                        <InputText class="form-control" @bind-Value="@_productBase.Code" />
                    </FormFieldSet>
                    <FormFieldSet Width="col-4">
                        <label class="font-weight-bold text-secondary">Nimi</label>
                        <InputText class="form-control" @bind-Value="@_productBase.Name" />
                    </FormFieldSet>
                </FormSection>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <FormSection>
                    <FormFieldSet>
                        <label class="font-weight-bold text-secondary">Olek</label>
                        <InputSelect class="form-control" @bind-Value="@_productBase.ProductStatusId">
                            <option value="">-- Vali ---</option>
                            @foreach (var item in _dropdowns.ProductStatuses)
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                        </InputSelect>
                    </FormFieldSet>
                    <FormFieldSet>
                        <label class="font-weight-bold text-secondary">Lähtetüüp</label>
                        <InputSelect class="form-control" @bind-Value="@_productBase.ProductSourceTypeId">
                            <option value="">-- Vali ---</option>
                            @foreach (var item in _dropdowns.ProductSourceTypes)
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                        </InputSelect>
                    </FormFieldSet>
                    <FormFieldSet>
                        <label class="font-weight-bold text-secondary">Sihttüüp</label>
                        <InputSelect class="form-control" @bind-Value="@_productBase.ProductDestinationTypeId">
                            <option value="">-- Vali ---</option>
                            @foreach (var item in _dropdowns.ProductDestinationTypes)
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                        </InputSelect>
                    </FormFieldSet>
                    <FormFieldSet>
                        <label class="font-weight-bold text-secondary">Materjal</label>
                        <InputSelect class="form-control" @bind-Value="@_productBase.ProductMaterialId">
                            <option value="">-- Vali ---</option>
                            @foreach (var item in _dropdowns.ProductMaterials)
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                        </InputSelect>
                    </FormFieldSet>
                </FormSection>
            </div>

            <div class="col-3">
                <FormSection>
                    <FormFieldSet>
                        <label class="font-weight-bold text-secondary">Tüüp</label>
                        <InputSelect class="form-control" @bind-Value="@_productBase.ProductTypeId">
                            <option value="">-- Vali ---</option>
                            @foreach (var item in _dropdowns.ProductTypes)
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                        </InputSelect>
                    </FormFieldSet>
                    <FormFieldSet>
                        <label class="font-weight-bold text-secondary">Grupp</label>
                        <InputSelect class="form-control" @bind-Value="@_productBase.ProductGroupId">
                            <option value="">-- Vali ---</option>
                            @foreach (var item in _dropdowns.GetFilteredProductGroups(_productBase.ProductTypeId))
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                        </InputSelect>
                    </FormFieldSet>
                    <FormFieldSet>
                        <label class="font-weight-bold text-secondary">Kaubamärk</label>
                        <InputSelect class="form-control" @bind-Value="@_productBase.ProductBrandId">
                            <option value="">-- Vali ---</option>
                            @foreach (var item in _dropdowns.ProductBrands)
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                        </InputSelect>
                    </FormFieldSet>
                    <FormFieldSet>
                        <label class="font-weight-bold text-secondary">Kollektsioon</label>
                        <InputSelect class="form-control" @bind-Value="@_productBase.ProductCollectionId">
                            <option value="">-- Vali ---</option>
                            @foreach (var item in _dropdowns.GetFilteredProductCollections(_productBase.ProductBrandId))
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                        </InputSelect>
                    </FormFieldSet>
                </FormSection>
            </div>

            <div class="col">
                <FormSection>
                    <label class="font-weight-bold text-secondary">Kommentaarid</label>
                    <InputTextArea class="form-control" @bind-Value="@_productBase.Comments" rows="12" />
                </FormSection>
            </div>
        </div>

        <div class="mt-4 pt-2 border-top">
            <div class="row">
                <div class="offset-4 col-8 text-right">
                    <button class="btn btn-outline-secondary" type="button">Loobu</button>
                    <button class="btn btn-primary" type="submit">Salvesta</button>
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    private ProductBasicsVm _productBase = new ProductBasicsVm();
    private ProductFilterDropdownsVm _dropdowns;
    private string _imagePath = "img/products/BlankImage.png";

    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            var response = await Mediator.Send(new GetProductBasicsRequest(Id));

            if (response.ProductBasicsVm is not null)
            {
                _productBase = response.ProductBasicsVm;

                _imagePath = $"img/products/{_productBase.Code}.jpg";
            }
        }

        var response2 = await Mediator.Send(new GetProductFilterDropdownsRequest());
        _dropdowns = response2.Dropdowns;
    }

    private void SubmitForm()
    {

    }
}
