@inject HttpClient Http

@if (_dropdowns is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@_productBase">
        <div class="row">
            <div class="col-3">
                <FormSection>
                    <FormFieldSet>
                        <label class="font-weight-bold text-secondary">Varianditüübid</label>
                        <InputSelect class="form-control" @bind-Value="@_productBase.ProductVariantTypeId">
                            <option value="">-- Vali ---</option>
                            @foreach (var item in _dropdowns.ProductVariantTypes)
                                {
                                <option value="@item.Id">@item.Name</option>
                                }
                        </InputSelect>
                    </FormFieldSet>
                </FormSection>
            </div>

            <div class="col-9">
                <FormSection>
                    <div class="row justify-content-center">
                        <div class="col-2">
                            <label class="font-weight-bold text-secondary">Kood</label>
                        </div>
                        <div class="col-5">
                            <label class="font-weight-bold text-secondary">Nimi</label>
                        </div>
                    </div>
                    @foreach (var product in _productBase.Products)
                    {
                        <div class="row justify-content-center mb-2">
                            <div class="col-2">
                                <InputText class="form-control" @bind-Value="@product.Code" />
                            </div>
                            <div class="col-5">
                                <InputText class="form-control" @bind-Value="@product.Name" />
                            </div>
                        </div>
                    }
                </FormSection>
            </div>
        </div>
    </EditForm>
}

@code {
    private ProductVariantsDto _productBase = new ProductVariantsDto();
    private ProductVariantsDropdowns _dropdowns;

    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            _productBase = await Http.GetFromJsonAsync<ProductVariantsDto>($"api/product/productvariants/{Id}");
        }

        _dropdowns = await Http.GetFromJsonAsync<ProductVariantsDropdowns>("api/product/productvariantsdropdowns");
    }
}
