@inject HttpClient HttpClient
@using System.Reflection

<FilterDrawer OnOpen="HandleOpen" OnSubmit="HandleSubmit" OnReset="HandleReset" @ref="@_filterDrawer">
    @if (_dropdowns is not null)
    {
        <div class="row bg-light mx-0 py-2 mb-4">
            <div class="col">
                <div class="row mb-2">
                    <label class="col-5 col-form-label text-right text-secondary">Toote olek</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_filter.ProductStatusId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductStatuses)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-5 col-form-label text-right text-secondary">Toote materjal</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_filter.ProductMaterialId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductMaterials)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row mb-2">
                    <label class="col-5 col-form-label text-right text-secondary">Toote lähtetüüp</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_filter.ProductSourceTypeId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductSourceTypes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-5 col-form-label text-right text-secondary">Toote sihttüüp</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_filter.ProductDestinationTypeId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductDestinationTypes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row mb-2">
                    <label class="col-5 col-form-label text-right text-secondary">Toote tüüp</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_filter.ProductTypeId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductTypes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-5 col-form-label text-right text-secondary">Toote grupp</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_filter.ProductGroupId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.GetFilteredProductGroups(_filter.ProductTypeId))
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row mb-2">
                    <label class="col-5 col-form-label text-right text-secondary">Kaubamärk</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_filter.ProductBrandId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductBrands)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-5 col-form-label text-right text-secondary">Kollektsioon</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_filter.ProductCollectionId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.GetFilteredProductCollections(_filter.ProductBrandId))
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    }
</FilterDrawer>


@code {
    private InventoryFilterDropdownsVm? _dropdowns;
    private InventoryListFilterVm _filter = default!;
    private FilterDrawer _filterDrawer = default!;

    [Parameter, EditorRequired] public InventoryListFilterVm Filter { get; set; } = default!;
    [Parameter] public EventCallback<InventoryListFilterVm> OnFilterChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _dropdowns = await HttpClient.GetFromJsonAsync<InventoryFilterDropdownsVm>("api/locationinventory/dropdowns");
    }

    private void HandleOpen()
    {
        _filter = Filter with { };
    }

    private void HandleSubmit()
    {
        if (_filter != Filter)
        {
            OnFilterChanged.InvokeAsync(_filter);
        }
    }

    private void HandleReset()
    {
        _filterDrawer.ResetFilter(_filter);
    }
}
