@inject HttpClient HttpClient

<div class="drawer-wrapper @(_isOpen ? "slide" : "")">
    <div class="drawer-mask"></div>
    <div class="drawer">
        <div class="drawer-content">
            <div class="d-flex">
                <img src="@ItemImage" style="width: 15.625rem;" />
                <div class="d-flex flex-column justify-content-between flex-grow-1 p-3">
                    <div>
                        <h4>@_details?.ProductBaseInventory?.ProductBaseCode</h4>
                        <h6>@_details?.ProductBaseInventory?.ProductBaseName</h6>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-6">Laos:</div>
                            <div class="col-6">@_details?.ProductBaseInventory?.StockQuantity</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Reserveeritud:</div>
                            <div class="col-6">@_details?.ProductBaseInventory?.ReservedQuantity</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Vaba:</div>
                            <div class="col-6">@_details?.ProductBaseInventory?.FreeQuantity</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-3">
                <TabSet>
                    <Tab Title="Hinnad">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Kood</th>
                                    <th class="text-right">Hind</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (_details != null)
                                {
                                    @foreach (var pr in _details.ProductPrices)
                                    {
                                        <tr>
                                            <td>@pr.ProductCode</td>
                                            <td class="text-right">@pr.UnitPrice @pr.CurrencyCode</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </Tab>
                    <Tab Title="Tellimused">
                        <p class="m-3 text-muted"><em>Tellimused puuduvad</em></p>
                    </Tab>
                    <Tab Title="Liikumised">
                        <p class="m-3 text-muted"><em>Liikumised puuduvad</em></p>
                    </Tab>
                </TabSet>
            </div>
        </div>
        <div class="drawer-controls">
            <button class="btn btn-primary" @onclick="@(() => _isOpen = false)">Sulge</button>
        </div>
    </div>
</div>

@code {
    private bool _isOpen;
    private InventoryDetailsVm? _details;

    [Parameter] public LocationInventoryListVm? Item { get; set; }

    // private string ItemImage => Item == null ? null : $"img/products/{Item.ProductBaseCode}.jpg";
    private string? ItemImage => Item == null ? null : $"https://fmsimagesapi.azurewebsites.net/api/{Item.ProductBaseCode}";

    protected override async Task OnParametersSetAsync()
    {
        if (Item != null)
        {
            //_details = await Http.GetFromJsonAsync<InventoryDetailsDto>($"api/locationinventory/{Item.LocationId}/product/{Item.ProductBaseId}");
            //_isOpen = true;

            var httpResponse = await HttpClient.PostAsJsonAsync<GetInventoryDetailsRequest>(
                GetInventoryDetailsRequest.RouteTemplate,
                new GetInventoryDetailsRequest(Item.LocationId, Item.ProductBaseId));

            if (httpResponse.IsSuccessStatusCode)
            {
                var response = await httpResponse.Content.ReadFromJsonAsync<GetInventoryDetailsRequest.Response>();
                _details = response?.InventoryDetails;
                _isOpen = true;
            }
        }
    }
}
