@inject HttpClient Http
@using System.Reflection

<FilterDrawer OnOpen="HandleOpen" OnSubmit="HandleSubmit" OnReset="HandleReset" @ref="@_filterDrawer">
    @if (_dropdowns != null)
    {
        <div class="row bg-light mx-0 py-2 mb-4">
            <div class="col">
                <div class="row mb-2">
                    <label class="col-5 col-form-label text-right text-secondary">Toote olek</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_options.ProductStatusId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductStatuses)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-5 col-form-label text-right text-secondary">Toote materjal</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_options.ProductMaterialId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductMaterials)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row mb-2">
                    <label class="col-5 col-form-label text-right text-secondary">Toote lähtetüüp</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_options.ProductSourceTypeId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductSourceTypes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-5 col-form-label text-right text-secondary">Toote sihttüüp</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_options.ProductDestinationTypeId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductDestinationTypes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row mb-2">
                    <label class="col-5 col-form-label text-right text-secondary">Toote tüüp</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_options.ProductTypeId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductTypes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-5 col-form-label text-right text-secondary">Toote grupp</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_options.ProductGroupId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.GetFilteredProductGroups(_options.ProductTypeId))
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row mb-2">
                    <label class="col-5 col-form-label text-right text-secondary">Kaubamärk</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_options.ProductBrandId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.ProductBrands)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label class="col-5 col-form-label text-right text-secondary">Kollektsioon</label>
                    <div class="col-7">
                        <select class="form-control"
                                @bind="@_options.ProductCollectionId">
                            <option value="0">-- Kõik --</option>
                            @foreach (var item in _dropdowns.GetFilteredProductCollections(_options.ProductBrandId))
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    }
</FilterDrawer>


@code {
    private LocationInventoryDropdowns _dropdowns;
    private LocationInventoryListOptions _options;
    private FilterDrawer _filterDrawer;

    [Parameter] public LocationInventoryListOptions Options { get; set; }
    [Parameter] public EventCallback<LocationInventoryListOptions> OnOptionsChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _dropdowns = await Http.GetFromJsonAsync<LocationInventoryDropdowns>("api/locationinventory/dropdowns");
    }

    private void HandleOpen()
    {
        _options = Options with { };
    }

    private void HandleSubmit()
    {
        if (_options != Options)
        {
            OnOptionsChanged.InvokeAsync(_options);
        }
    }

    private void HandleReset()
    {
        _filterDrawer.ResetFilter(_options);
    }
}
