@page "/locations/{Id:int}/inventory"
@inject HttpClient Http

<div>
    <nav class="navbar navbar-dark bg-secondary rounded-top zindex-like-drawer">
        <span class="navbar-brand">@_locationName</span>
        <NavLink class="btn btn-primary ml-auto" href="locations/return">Tagasi</NavLink>
    </nav>

    <LocationInventoryFilter Options="@_options" OnOptionsChanged="@((p) => HandleFilterChanged(p))" />

    @if (_pagedInventory == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <ProductDetails Item="@SelectedItem" />

        <div class="grid my-5">
            @foreach (var item in _pagedInventory.Results)
            {
                <ProductCard Item="@item" OnSelected="HandleProductSelected" />
            }
        </div>

        <div class="d-flex justify-content-center">
            <Pager Result="@_pagedInventory" OnPageChanged="HandlePagerPageChanged" />
        </div>
    }
</div>


@code {
    private PagedResult<LocationInventoryListDto> _pagedInventory;
    private LocationInventoryListOptions _options = new LocationInventoryListOptions { CurrentPage = 1, PageSize = 18 };
    private LocationInventoryListDto _selectedItem;
    private string _locationName;

    private LocationInventoryListDto SelectedItem
    {
        get
        {
            var selectedItem = _selectedItem;

            if (selectedItem != null)
            {
                _selectedItem = null;
            }

            return selectedItem;
        }
    }

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.PostAsJsonAsync<LocationInventoryListOptions>($"api/locationinventory/{Id}", _options);
        if (response.IsSuccessStatusCode)
        {
            var dto = await response.Content.ReadFromJsonAsync<LocationInventoryDto>();
            _locationName = dto.LocationName;
            _pagedInventory = dto.PagedInventory;
        }
    }

    #region helpers
    private async Task UpdateList()
    {
        var response = await Http.PostAsJsonAsync<LocationInventoryListOptions>($"api/locationinventory/{Id}/list", _options);
        if (response.IsSuccessStatusCode)
        {
            _pagedInventory = await response.Content.ReadFromJsonAsync<PagedResult<LocationInventoryListDto>>();
        }
    }
    #endregion

    #region event handlers
    private async Task HandlePagerPageChanged(int pageNo)
    {
        _options.CurrentPage = pageNo;
        await UpdateList();
    }

    private async Task HandleFilterChanged(LocationInventoryListOptions options)
    {
        _options = options;
        _options.CurrentPage = 1;
        await UpdateList();
    }

    private void HandleProductSelected(LocationInventoryListDto item)
    {
        _selectedItem = item;
    }
    #endregion
}
