<div class="card" style="width: 12.5rem; cursor: pointer;" @onclick="@(async () => await OnSelected.InvokeAsync(Item))">
    <img class="card-img" src="@ImagePath">
    <div class="card-img-overlay p-1 d-flex flex-column justify-content-between">
        <h6 class="m-0 text-muted">@Item.ProductBaseName</h6>
        <div class="d-flex justify-content-between align-items-end">
            <h5 class="m-0">@Item.ProductBaseCode</h5>
            <button class="btn btn-sm text-white" style="background-color: @ButtonColor;">
                    @*@onclick="@(async () => await OnSelected.InvokeAsync(Item))">*@
                Laos: @Item.FreeQuantity
            </button>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public LocationInventoryListDto Item { get; set; }

    [Parameter]
    public EventCallback<LocationInventoryListDto> OnSelected { get; set; }

    // private string ImagePath => $"img/products/{Item.ProductBaseCode}.jpg";
    private string ImagePath => $"https://fmsimagesapi.azurewebsites.net/api/{Item.ProductBaseCode}";
    private string ButtonColor => Item.FreeQuantity > 0 ? "mediumseagreen" : (Item.ReservedQuantity > 0 ? "orange" : "firebrick");
}
