@page "/locations"
@page "/locations/return"
@inject HttpClient Http
@inject NavigationManager NavManager
@inject AppStateManager AppState 

<div class="container">
    <nav class="navbar navbar-dark bg-secondary rounded mb-3">
        <span class="navbar-brand">Laod</span>
    </nav>

    <LocationFilter Filter="@_filter" OnFilterChanged="@(() => HandleFilterChanged())" />

    @if (_pagedLocations is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Kood</th>
                    <th>Nimi</th>
                    <th style="text-align: right;">Tooteid</th>
                    <th style="text-align: right;">Laos kokku</th>
                    <th style="text-align: right;">Reserv. kokku</th>
                    <th style="text-align: right;">Vabu kokku</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var location in _pagedLocations.List)
                {
                    <tr>
                        <td style="width: 15%;">@location.LocationCode</td>
                        <td style="width: 25%;">@location.LocationName</td>
                        <td style="width: 15%; text-align: right;">@ParseSpaceInsteadOfZero(location.TotalCount)</td>
                        <td style="width: 15%; text-align: right;">@ParseSpaceInsteadOfZero(location.TotalStockQuantity)</td>
                        <td style="width: 15%; text-align: right;">@ParseSpaceInsteadOfZero(location.TotalReservedQuantity)</td>
                        <td style="width: 15%; text-align: right;">@ParseSpaceInsteadOfZero(location.TotalFreeQuantity)</td>
                        <td>
                            <div class="d-flex">
                                <button class="btn btn-info btn-sm mr-3"
                                        @onclick="@(() => HandleInventorySelected(location.LocationId))">
                                    Laoseis
                                </button>
                                <button class="btn btn-warning btn-sm" disabled>Muuda</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <Pager Result="@_pagedLocations" OnPageChanged="@((p) => HandleFilterChanged(p))" />
        </div>
    }
</div>

@code {
    private PagedResult<LocationListVm>? _pagedLocations;
    private LocationFilterVm _filter = new LocationFilterVm { CurrentPage = 1, PageSize = 10 };

    protected override async Task OnInitializedAsync()
    {
        if (NavManager.Uri.ToLower().Contains("return"))
        {
            _filter = AppState.LocationListFilter ?? _filter;
        }

        await UpdateList();
    }

    #region helpers
    private async Task UpdateList()
    {
        var httpResponse = await Http.PostAsJsonAsync<GetLocationListRequest>("api/locations", new GetLocationListRequest(_filter));
        if (httpResponse.IsSuccessStatusCode)
        {
            var response = await httpResponse.Content.ReadFromJsonAsync <GetLocationListRequest.Response>();
            if (response is null) throw new Exception("LocationListRequest.Response is null");
            
            _pagedLocations = response.PagedLocations;
        }
    }

    string ParseSpaceInsteadOfZero(int someInt) => someInt > 0 ? someInt.ToString() : "";
    #endregion

    #region event handlers
    private async Task HandleFilterChanged(int pageNo = 1)
    {
        _filter.CurrentPage = pageNo;
        await UpdateList();
    }

    private void HandleInventorySelected(int locationId)
    {
        AppState.LocationListFilter = _filter;
        NavManager.NavigateTo($"locations/{locationId}/inventory");
    }
    #endregion
}
